html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* background image */

body{
    max-width:100%;
    height: 100%;
    margin: 0 auto;
    background: url(../images/designhome.jpg) center center/cover no-repeat fixed;
}

.pagewrapper{
    max-width: 100%;
    margin: 0 auto;
}

.contentwrapper{
    max-width:1000px;
    margin: 0 auto;
   
    height: 100%;
    background: rgba(80,80,80,.6);
    color: white;
    padding: 25px;
    
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
}

    @media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
        * to improve page load speed on mobile internet connections */
        background-image: url(../images/designhome_768_512.jpg);
    }
        }


