

h1{
    margin-top:30px;
    font-size: 240%;
    align-self: center;
   
}

h2{
    font-size: 180%;
    align-self: center;
    max-width: 75%;
    
}

h3{
    font-size: 200%;
    align-self: center;
    margin-bottom: 20px;
  
}



.middlecontent{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-content: space-between;
    overflow-y:scroll;
    overflow-x:hidden;
}

